body {
}
.App {
  background-image: url(../assets/home.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}
.difficulty {
  border: 2px solid purple;
  box-sizing: border-box;
  color: purple;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  display: none;
}

.shuffle-button {
  background-color: red;
  border: 2px solid purple;
  color: purple;
  cursor: pointer;
  padding: 5px;
  display: none;
}
.current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
  display: none;
}
.deck {
  background-image: url(../assets/mythicCardBackground.png);
  background-size: cover;
  height: 190px;
  width: 130px;
  display: none;
}
.addList {
  display: block;
}
